<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link rel="stylesheet" href="~/Content/clients/dist/css/Customer/Home.css" />
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="content">
            <nav class="navbar">
                <!-- Logo -->
                 @*<img src="./assets/img/logo.svg" alt="Besnik.">*@

                <!-- Navigation -->
                <ul> 
                    <li><a href="index.html">Trang Chủ</a></li>
                    <li><a href="index.html">Thi Thử A1</a></li>
                    <li><a href="A2.html">Thi Thử A2</a></li>
                    <li>
                        <a href="DiemLiet.html">Thi Thử Câu Điểm Liệt</a>
                    </li>
                    <li><a href="#!">Câu Hỏi Đúng Sai</a></li>
                    <li class="dropdown">
                        <a href="#!">Quản lí</a>
                        <ul class="dropdown-menu">
                            <li><a href="#!">Quản lý nội dung</a></li>
                            <li><a href="#!">Quản lý người dùng</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Action -->
                <div class="actions">
                    <a href="login.html" class="action-link">Sign in</a>
                    <a href="#!" class="btn action-btn">Sign up</a>
                </div>
            </nav>
        </div>
    </header>

    <div class="content-wrapper">
        @RenderBody()
    </div>
    <!--======================== Title ========================================      -->

    @RenderSection("scripts", required: false)
</body>
</html>
